{% extends "network/layout.html" %}

{% block body %}
    <div class="text-center" style="margin-top:70px; padding: 20px 70px; background-color: white">
        <div style="font-size: 37px; color: rgba(29,161,242,1.00);"><i class="mr-4 fab fa-twitter"></i></div>
        <div class="login-title mb-3 mt-4"><strong>Log in to Network</strong></div>
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group text-left login-form-group">
                <label for="login-username" class="text-muted">Username</label>
                <input autofocus class="form-control login-input" type="text" name="username" id="login-username">
            </div>
            <div class="form-group text-left login-form-group" >
                <label for="login-password" class="text-muted">Password</label>
                <input class="form-control login-input" type="password" name="password" id="login-password">
            </div>

            <input style="width: 100%; height: 45px" class="btn register-btn" type="submit" value="Login">
        </form>
        <div class="mt-4 login-bot-text">
            Don't have an account? <a style="color: rgba(29,161,242,1.00);" href="{% url 'register' %}">Register here.</a>
        </div>
    </div>
{% endblock %}